* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Inter Tight", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Ubuntu", sans-serif;
  }
  .main {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background:url('Blue.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
  }
  .logo {
    color: burlywood;
    font-size: 20px;
  }
  .logo span {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
  
    color: rgba(240, 12, 23, 0.815);
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    align-items: center;
  }
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
    font-weight: 900;
  }
  nav button {
    font-weight: bold;
    font-size: 15px;
    color: black;
    background-color: rgb(219, 48, 29);
    padding: 12px 30px;
    margin-top: 5px;
    border-radius: 30px;
    border: none;
    align-items: center;
  }
  li{
    padding: 10px;
  }
  li:hover:not(active){
    padding: 10px;
    background-color: #fdb7c9;
    color: black;
  }
  li:active{
    background-color: #FD6B6B;
    background-attachment: fixed;
  }